@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../fonts/poppins-extralight.woff2") format("woff2"),
       url("../fonts/poppins-extralight.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  src: url("../fonts/poppins-extralightitalic.woff2") format("woff2"),
       url("../fonts/poppins-extralightitalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../fonts/poppins-light.woff2") format("woff2"),
       url("../fonts/poppins-light.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/poppins-lightitalic.woff2") format("woff2"),
       url("../fonts/poppins-lightitalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../fonts/poppins-regular.woff2") format("woff2"),
       url("../fonts/poppins-regular.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/poppins-italic.woff2") format("woff2"),
       url("../fonts/poppins-italic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../fonts/poppins-medium.woff2") format("woff2"),
       url("../fonts/poppins-medium.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  src: url("../fonts/poppins-mediumitalic.woff2") format("woff2"),
       url("../fonts/poppins-mediumitalic.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../fonts/poppins-semibold.woff2") format("woff2"),
       url("../fonts/poppins-semibold.woff") format("woff");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/poppins-semibolditalic.woff2") format("woff2"),
       url("../fonts/poppins-semibolditalic.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --lightgrey-transparent: #E0E0E012;
  --lightgrey: #CDCDCD;
  --grey: #A7A7A7;
  --white: #FFFFFF;
  --blue: #0047AB;
  
  /* font custom variables */
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --bolder: 500;
  --bold: 600;

  --fsize-small: 1rem;
  --fsize-smaller: 1.2rem;
  --fsize-medium: 1.5rem;
  --fsize-larger: 2.5rem;
  --fsize-large: 5rem;
  --search-size: 2rem;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../images/river-5524569-compressed.jpg");
  background-size: cover;
  backdrop-filter: brightness(50%);
  font-family: "Poppins", "Roboto", system-ui, -apple-system, BlinkMacSystemFont, Ubuntu, sans-serif;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.search-modal {
  background: var(--lightgrey-transparent);
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  width: 1200px;
  padding: 1.5em 2em;
}

.startpage-search {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 15em;
  width: 100%;
}

.app {
  background: var(--lightgrey-transparent);
  border-radius: 1.3em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  /* backdrop-filter: blur(10px); */
  /**/
  height: 800px;
  width: 1200px;
  padding: 1.5em 2em;
}

/* SEARCH FIELD CONTAINER STYLING */

.search-container {
  grid-column: span 1;
  grid-row: span 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-bottom: 1em;
}

.error-msg {
  text-align: center;
  padding-top: 1em;
}

.search-form {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-btn {
  background: none;
  border: none;
  height: var(--search-size);
  width: var(--search-size);
  position: relative;
}


.search-icon {
  height: 100%;
  width: 100%;
  color: var(--white);
  transition: transform 200ms ease-in-out;
}

.search-icon:hover {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.3);
}

.search-field {
  border: none;
  border-radius: 1em;
  outline-color: var(--blue);
  padding: .25em .75em;
  height: var(--search-size);
  width: 40%;
}

/* FORECAST CONTAINER STYLING */

.forecast-container {
  grid-column: span 1;
  grid-row: 2 / 3;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr;
}

.current-forecast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.current-summary {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.current-place {
  min-width: 100%;
  max-width: 100%;
  width: min-content;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.current-info > p {
  margin-top: 1em;
}

.hourly-forecast {
  border: 1px solid var(--lightgrey);
  background: var(--lightgrey-transparent);
  display: flex;
  height: 100%;
  overflow-x: scroll;
  position: relative;
}


.hourly-forecast::-webkit-scrollbar {
  height: 12px;
  background: var(--white);
}

.hourly-forecast::-webkit-scrollbar-button {
  display: none;
}

.hourly-forecast::-webkit-scrollbar-thumb {
  background: var(--lightgrey);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  border-radius: 10px;

}

.hourly-forecast::-webkit-scrollbar-thumb:hover {
  background: var(--grey);
}

.hourly-forecast::-webkit-scrollbar-track-piece {
  background: var(--white);
  border-radius: 10px;
}

.hourly-forecast::-webkit-scrollbar-track {
  background: var(--blue);
}

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: 100%;
  width: 25%;
  min-width: 200px;
  flex-shrink: 0;
  padding: 1em;
}

.forecast-card:not(:last-child) {
  border-right: 1px solid var(--lightgrey);
}

.card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding-top: 3em;
  padding-left: 10%;
}

.light {
  font-weight: var(--light);
}

.bold {
  font-weight: var(--bold);
}

.bolder {
  font-weight: var(--bolder);
}

.svg-large {
  height: 150px;
  width: auto;
}

.svg-small {
  height: 64px;
  width: auto;
}

.fs-small {
  font-size: var(--fsize-small);
}

.fs-smaller {
  font-size: var(--fsize-smaller);
}

.fs-medium {
  font-size: var(--fsize-medium);
}

.fs-larger {
  font-size: var(--fsize-larger);
}

.fs-large {
  font-size: var(--fsize-large);
}

.hidden {
  display: none;
}
